@keyframes ldio-90lc7mbld2g {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg)
    }
}

.ldio-90lc7mbld2g div {
    box-sizing: border-box !important
}

.ldio-90lc7mbld2g > div {
    position: absolute;
    width: 144px;
    height: 144px;
    top: 28px;
    left: 28px;
    border-radius: 50%;
    border: 16px solid #000;
    border-color: #1d0e0b transparent #1d0e0b transparent;
    animation: ldio-90lc7mbld2g 1s linear infinite;
}

.ldio-90lc7mbld2g > div:nth-child(2) {
    border-color: transparent
}

.ldio-90lc7mbld2g > div:nth-child(2) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}

.ldio-90lc7mbld2g > div:nth-child(2) div:before, .ldio-90lc7mbld2g > div:nth-child(2) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: -16px;
    left: 48px;
    background: #1d0e0b;
    border-radius: 50%;
    box-shadow: 0 128px 0 0 #1d0e0b;
}

.ldio-90lc7mbld2g > div:nth-child(2) div:after {
    left: -16px;
    top: 48px;
    box-shadow: 128px 0 0 0 #1d0e0b;
}

.loadingio-spinner-dual-ring-707cjr0lre4 {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: none;
}

.ldio-90lc7mbld2g {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}

.ldio-90lc7mbld2g div {
    box-sizing: content-box;
}

html, body, #root {
    height: 100%;
}

.app {
    height: 100%;
    background-color: red;
    position: relative;
}

.label {
    display: block;
    height: 100%;
}

.label input {
    visibility: hidden;
    display: none;
}

.loader {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}